<div class="user-photo clearfix" data-id="2767420" data-type="photo">
    <label class="user-photo-label">
    <div class="user-photo-img-div">
    <div class="user-photo-img-div-inner">
    <img src="https://victoriyaclub.com/files/users/photos/392502/0ce71dcea21946fed363fbaae20841c2.jpg" alt="" class="user-photo-img">
    </div>
    </div>
    </label><br>
    <a href="#" onclick="profile.photo.showCropPhoto('/files/users/photos/392502/0ce71dcea21946fed363fbaae20841c2_original.jpg',{id:'avatar'}); return false">Set to avatar</a>
    </div>
    <div class="user-photo clearfix" data-id="2767419" data-type="photo">
    <label class="user-photo-label">
    <div class="user-photo-img-div">
    <div class="user-photo-img-div-inner">
    <img src="https://victoriyaclub.com/files/users/photos/392502/4c8917c8013ee45be72c7ee5640ab87b.jpg" alt="" class="user-photo-img">
    </div>
    </div>
    </label><br>
    <a href="#" onclick="profile.photo.showCropPhoto('/files/users/photos/392502/4c8917c8013ee45be72c7ee5640ab87b_original.jpg',{id:'avatar'}); return false">Set to avatar</a>
    </div>
    <div class="user-photo clearfix" data-id="2760778" data-type="photo">
    <label class="user-photo-label">
    <div class="user-photo-img-div">
    <div class="user-photo-img-div-inner">
    <img src="https://victoriyaclub.com/files/users/photos/392502/d6e4079ead391d9a017cc2114e1c94a8.jpg" alt="" class="user-photo-img">
    </div>
    </div>
    </label><br>
    <a href="#" onclick="profile.photo.showCropPhoto('/files/users/photos/392502/d6e4079ead391d9a017cc2114e1c94a8_original.jpg',{id:'avatar'}); return false">Set to avatar</a>
    </div>
    <div class="user-photo clearfix" data-id="2760777" data-type="photo">
    <label class="user-photo-label">
    <div class="user-photo-img-div">
    <div class="user-photo-img-div-inner">
    <img src="https://victoriyaclub.com/files/users/photos/392502/949103670b6713ae20f9f43e1df353e6.jpg" alt="" class="user-photo-img">
    </div>
    </div>
    </label><br>
    <a href="#" onclick="profile.photo.showCropPhoto('/files/users/photos/392502/949103670b6713ae20f9f43e1df353e6_original.jpg',{id:'avatar'}); return false">Set to avatar</a>
    </div>
    <div class="user-photo clearfix" data-id="2760776" data-type="photo">
    <label class="user-photo-label">
    <div class="user-photo-img-div">
    <div class="user-photo-img-div-inner">
    <img src="https://victoriyaclub.com/files/users/photos/392502/80dfbb836f73e38b21bbd8c8db290898.jpg" alt="" class="user-photo-img">
    </div>
    </div>

</label><br>
<a href="#" onclick="profile.photo.showCropPhoto('/files/users/photos/392502/949103670b6713ae20f9f43e1df353e6_original.jpg',{id:'avatar'}); return false">Set to avatar</a>
</div>
<div class="user-photo clearfix" data-id="2760777" data-type="photo">
<label class="user-photo-label">
<div class="user-photo-img-div">
<div class="user-photo-img-div-inner">
<img src="https://victoriyaclub.com/files/users/photos/392502/80dfbb836f73e38b21bbd8c8db290898.jpg" alt="" class="user-photo-img">
</div>
</div>




</label>
</div>
