#media-library{
    text-align:center;
    opacity:1;
    float:left;
    height:550px;
    margin-top:10px;
    background:#def4f1;
    border:none;
    overflow:auto;
} 
#media-library .user-photo{
    display:inline-block;
    float:left;
    overflow:hidden;
    margin:5px;
    position:relative;
    cursor:pointer;
}
#media-library .user-photo-img-div{
    padding:3px;
    width:122px;
    height:165px;
    border:1px solid #dedede;
    border-radius:2px;
    cursor:pointer;
}


#result .user-photo{
    display:inline-block;
    float:left;
    overflow:hidden;
    margin:5px 0;
    position:relative;
    cursor:pointer;
}

.user-photo[data-type="video"] label::before {
    content: '';
    width: 64px;
    height: 64px;
    display: inline-block;
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    margin: auto;
    background: url(/template/images/play_icon.png) no-repeat center;
    background-size: contain;
    opacity: 0.84;
    z-index: 1;
}

#result .user-photo-img-div{
    padding:3px;
    width:122px;
    height:169px;
    border:1px solid #dedede;
    border-radius:2px;
    cursor:pointer;
}

.user-photo-img-div-inner{
    background:#dedede;
    width:100%;
    height:165px;
    display:table-cell;
    vertical-align:middle;
    overflow:hidden;
}

img.user-photo-img{
	max-width: 100%;
    height: auto;
    display: block; /* Centers the image */
}

#media-library .user-photo-img-div:hover{border-color: #99D0F9;}
#media-library .user-photo-img-div button.user-photo-button-remove{display: none;}
#media-library .user-photo-img-div:hover button.user-photo-button-remove{display: block;}
button.user-photo-button-remove {
    position: absolute;
    top: 7px;
    right: 8px;
    outline: none;
    color: #07655B;
    font-size: 15px;
    cursor: pointer;
    width: 15px;
    text-align: center;
    background: #C7C9C6;
    border-color: transparent;
    border-radius: 4px;
    line-height: 0px;
    height: 16px;
    vertical-align: middle;
    padding-top: 0px;
    border-bottom: 2px solid #B3B7B6;
}
button.user-photo-button-remove:hover {
    border-bottom: 2px solid transparent;
	border-top: 2px solid #B3B7B6;
}