* {
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

.user-photo[data-type="video"] label::before {
    content: '';
    width: 64px;
    height: 64px;
    display: inline-block;
    position: absolute;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    margin: auto;
    background: url(/template/images/play_icon.png) no-repeat center;
    background-size: contain;
    opacity: 0.84;
    z-index: 1;
}

.user-photo {
position: relative;
}

body {
	background: #e4e4e4 url("images/bg.jpg") repeat;
	font-family: Arial;
	font-size: 12px;
	color: #4b4b4b;
	line-height: 18px;
}

::selection {
	background-color: #a12424;
	color: white;
	text-shadow: none;
}

::-moz-selection {
	background-color: #a12424;
	color: white;
	text-shadow: none;
}

a {
	color: #b60000;
	text-decoration: underline;
}

p {
	margin-bottom: 10px;
}
.psite{
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
	color: black;
	line-height: normal;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
	margin-top: 15px;
}

h3 {
	font-size: 14px;
}

h1+p,h2+p,h3+p {
	margin-top: 3px;
}

a img {
	border: none;
	outline: none;
}

ul,ol,dl {
	margin: 0 0 0 30px;
}

dt {
	font-weight: bold;
}

dd {
	font-style: italic;
}

input,button,textarea {
	display: inline-block;
}

input,textarea,select {
	padding: 5px;
	height: auto;
	border: 1px solid #bcbcbc;
}

input[type=text],textarea,button {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

input[type=checkbox],input[type=radio] {
	margin: 3px 5px 0 0;
	float: left;
}

input[type=text] {
	width: 200px;
}



textarea {
	width: 300px;
	height: 100px;
}

label {
	display: block;
	vertical-align: middle;
	color: black;
}

input:focus,button:focus,textarea:focus,select:focus {
	outline: none;
	border: 1px solid #999999;
	box-shadow: none;
}

input:-moz-placeholder {
  color: #c0c0c0;
}

input::-webkit-input-placeholder {
  color: #c0c0c0;
}

button {
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #a12424;
	background-repeat: no-repeat;
    background-image: -ms-linear-gradient(top, #b92c2c, #a12424);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b92c2c), to(#a12424));
    background-image: -webkit-linear-gradient(top, #b92c2c, #a12424);
    background-image: -o-linear-gradient(top, #b92c2c, #a12424);
    background-image: linear-gradient(top, #b92c2c, #a12424);
    background-image: -moz-linear-gradient(top, #b92c2c, #a12424);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b92c2c', endColorstr='#a12424', GradientType=0);
	border: 1px solid #a12424;
	
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	height: 40px;
        width:140px; 
	text-shadow: none;
}

button:hover {
	background-position: 0 -15px;
}

*:first-child+html button {
	width: 90px;
}

.row {
	overflow: hidden;
	margin: 10px 0;
}

.col {
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

table.bordered {

	border-collapse: collapse;
	border: 1px solid #bcbcbc;
	
	background-color: white;
}

table.bordered th, table.bordered td {
	border-bottom:  1px solid #bcbcbc;
	padding: 5px;
	
}
table.bordered {
    margin: 0 auto;
    text-align: center;
}
table.mybordered th, table.mybordered td {
        border-right:  1px solid #bcbcbc;
	
}

table.bordered th {
	background-color: #ececec;
	font-weight: bold;
	color: black;
}

table.bordered tbody tr:hover {
	background-color: #f2f2f2;
}

.wrapper {
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
        display: flex;
        flex-direction: column;
	
}
/*Шапка*/
header {
	border-bottom: 10px solid #a12424;
	padding: 40px 0 10px 0;
	overflow: hidden;
}
.location {
	border-bottom: 10px solid #a12424;
	overflow: hidden;
        text-align: center;
        padding: 10px 0;
}
.logo {
	display: inline-block;
	float: left;
	color: #a12424;
	font-weight: bold;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
}

*:first-child+html .logo a {
	line-height: normal;
}

.logo p {
	margin-top: -3px;
}

.black {
	color: black;
}

.gray {
	color: #a3a3a3;
	font-size: 18px;
}

.logo p {
	font-size: 12px;
}

/*Навигация*/
ul.nav {
	margin: 0;
	overflow: hidden;
	float: right;
}

ul.nav li {
	float: left;
	list-style: none;
}

ul.nav li a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px 0 15px;
	display: block;
	color: black;
}

ul.nav li a.active {
	color: #a12424;
}

ul.nav li a:hover {
	color: #a12424;
}
/*Контент*/
.content {
	padding: 10px 0;
        flex: 1 0 auto;
}
/*Правая колонка*/
.rightCol {
	float: right;
	margin-left: 10px;
	width: 220px;

        
}
.rightCol button{
    width: 160px;
}
ul.rightNav {
	margin: 0 0 10px 0;
	padding: 0;
	border: 1px solid #bcbcbc;
	background-color: #ececec;
}

ul.rightNav li {
	list-style: none;
}

ul.rightNav li a {
	color: black;
	text-decoration: none;
	padding: 8px 10px 8px 30px;
	display: block;
	border-top: 1px solid #bcbcbc;
	background: url("/template/images/arrow-right.png") 13px 50% no-repeat;
}

ul.rightNav li:first-child a {
	border-top: none;
}

ul.rightNav li a:hover {
	background-color: white;
}
ul.rightNav li a.active {
	background-color: white;
}


.block {
	margin: 0 0 10px 0;
	border: 1px solid #a12424;
	background-color: #ececec;
}

.block>h3 {
	padding: 8px 10px;
	color: white;
	background-color: #a12424;
	text-shadow: none;
}

.block p {
	color: black;
	margin: 0;
	padding: 10px 10px 0;
        font-weight:bold;
        text-align: center;
}

.block .more {
	padding-bottom: 10px;
	display: block;
}

.main {
	overflow: hidden;
}
.main p {
    font-size: 18px;
    line-height: 100%;
    font-family: serif;
    
       
}
.mainEdit {
	overflow: hidden;
        background: #fff;
        padding: 10px;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
            box-shadow: 0 1px 3px rgba(0,0,0,.13);
}


.mainEdit form .textarea{
    resize:none;
    margin: 0px;
    width: 948px;
    height: 238px;
    font-size: 14px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
}
.mainEdit form .textarea:focus{
    outline: none; /*for chrome*/
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}

.mainEdit form .input {
    background: #fbfbfb;
    font-size: 14px;
    line-height: 1;
    width: 948px;
    outline: none;
    border: 1px solid #d9d9d9;
}

.mainEdit form .input:focus {
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}

.mainEdit form button{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.mainUser {
	
}
.mainStat {
        text-align: center;
}
.mainUser p{
	font-size:1em;
}
.mainUser img {
	
	border: 3px solid #cfcfcf;
        border-radius: 8px;
}
.main img {
	
	border: 3px solid #cfcfcf;
        border-radius: 8px;
        margin-right: 10px;
}
/*Подвал*/
footer {
    flex: 0 0 auto;
    padding-bottom: 20px;
    text-align: center;
}

footer p {
	
}
/*= popup
--------------------------------------------------------*/
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
}
.popup {
	background-color: #e4e4e4;
	border: 3px solid #e4e4e4;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 15px;
	position: fixed;
	text-align: justify;
	top: 50%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	border-radius: 11px;
}
.popup .close_window {
	font-size: 13px;
	display: block;
	width: 6px;
	height: 17px;
	position: absolute;
	padding: 1px 9px 4px 9px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: #fff;
	font-family: 'tahoma', sans-serif;
	background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
	background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
	background: -moz-linear-gradient(top, #3d51c8, #051fb8);
	background: -o-linear-gradient(top, #3d51c8, #051fb8);
	background: -ms-linear-gradient(top, #3d51c8, #051fb8);
	background: linear-gradient(top, #3d51c8, #051fb8);
	background-color: #3d51c8;
	border: 1px solid #061fb8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover {
	background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
	background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
	background: -moz-linear-gradient(top, #ff5f07, #3d51c8);
	background: -o-linear-gradient(top, #051fb8, #3d51c8);
	background: -ms-linear-gradient(top, #051fb8, #3d51c8);
	background: linear-gradient(top, #051fb8, #3d51c8);
	background-color: #051fb8;
	border: 1px solid #00385E;
}
.popup .close_window:active {
	background: #8f9be0;
}
/*-PAGINATION-*/
.pagination {
  display: flex;

  padding-left: 15px;
  margin: 5px auto;
  
  overflow:auto;
  background:#fff;
  padding:0 20px 0 20px;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  

}

.pagination  li:first-child  a, .pagination  li:first-child  span {

  margin-left: 0;
  
}

.pagination  li:last-child  a, .pagination  li:last-child  span {


}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {

  border: 2px  solid;
  border-color: #a12424;
  padding: 4px 10px;
  cursor: default;
  z-index: 2;
}
.pagination li {
list-style-type: none; /* Убираем маркеры */
border-radius: 10px;
}

.pagination  li  a, .pagination  li  span {
  background-color: #e4e4e4;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
    border-radius: 10px;
}

.pagination  li  a:hover{
	background:#a12424;
	color:#fff;
}

/*= CONTAINERS
--------------------------------------------------------*/
.container {
   
    padding: 10px;
    font-weight: 400;
    overflow: hidden;
    width: 320px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
     
}
.mlogin {
    margin: 40px auto 0;
}
.pay {
    margin: 0 auto 10px;
}
.container h1 {
    color: #a12424;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #a12424;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.container form .textarea{
    resize:none;
    margin: 0px;
    width: 308px;
    height: 100px;
    font-size: 14px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
}
.container form .textarea:focus{
    outline: none; /*for chrome*/
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}
.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
}

.container form .select {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 320px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .select:focus {
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}

.container .input {
    background: #fbfbfb;
    font-size: 16px;
    line-height: 1;
    width: 308px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}
.container form .button {
    height: 30px;
    width: auto;
    padding: 0 10px;
    float: right;
}

.container .input:focus {
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}
.error {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 10px;
    color: #fff;
    text-align: center;
    
    background: #a12424;
    font-size: 16px;
}

.containerLogin {
    padding: 10px;
    font-weight: 400;
    overflow: hidden;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
     
}

.containerLogin .input {
    background: #fbfbfb;
    font-size: 16px;
    line-height: 1;
    width: 186px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}
.containerLogin .input:focus {
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}
.containerLogin form .button {
    height: 30px;
    width: 198px;
    padding: 0 10px;
    margin: 10px 0;
}

.t1{
    display: inline-table;
}

.admincontainer {
   
    padding: 10px;
    font-weight: 400;
    overflow: hidden;
    
    width: 320px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
     
}

.admincontainer label {
    color: #777;
    font-size: 14px;
}

.admincontainer form .select {
    background: #fbfbfb;
    font-size: 16px;
    line-height: 1;
    width: 320px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.admincontainer form .select:focus {
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}

.admincontainer form .input {
    background: #fbfbfb;
    font-size: 16px;
    line-height: 1;
    width: 308px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}
.admincontainer form .button {
    height: 30px;
    width: auto;
    padding: 0 10px;
    float: right;
}

.admincontainer form .input:focus {
    border: 1px solid #a12424;
    -webkit-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
    box-shadow: 0 0 3px 0 rgba(161, 36, 36,0.75);
}

.payform{
    width: 600px;
}

.fullimg {
	height: 100%;
  }