/*= GENERAL STYLES
--------------------------------------------------------*/

html,
body {
  height: 100%;
}

body {
      display: flex;
  flex-direction: column;
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}
.content {
  flex: 1 0 auto;
  
}

footer {
  flex: 0 0 auto;
  

}
a {
    color: #f58220;
    font-weight: 400;
}

span {
    font-weight: 300;
    color: #f58220;
}


* {
	margin: 0;
	padding: 0;
}

p {
	padding: 5px 0;
}

.logintab {

	width: 175px;
	margin: 5px 0 0;

	background: #FFF;
	border: 2px solid #6678b1;
	border-radius: 5px;
	padding:  10px;
        color: #039;
        font-weight:bold;
        text-align: center;
        
          

        
}
.logintabs {
        float:left;
	
        position: fixed;
	
       
}
.tabs {
        float:right;
	max-width: 800px;
	min-height:200px;
	margin: 5px 0 0;
}
.tabs__caption {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	position: relative;
	margin: -1px 0 0 -1px;
}
.tabs__caption li:last-child:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: -2px;
	z-index: -1;
	height: 5px;
	background: #6678b1;
}
.tabs__caption a{
    text-decoration: none;
    color: #fff;
}
.tabs__caption .active a{
	color: #000;
	border-color: #6678b1;
}
.tabs__caption:after {
	content: '';
	display: table;
	clear: both;
}
.tabs__caption li {
	padding: 9px 15px;
	margin: 1px 0 0 1px;
	background: #5b6ca0;
	background: -webkit-gradient(linear, left top, left bottom, from(#5e70a5), to(#474fbc));
	background: -moz-linear-gradient(top,  #5e70a5,  #474fbc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e70a5', endColorstr='#474fbc');
	color: #FFF;
	position: relative;
	border: solid #5b6ca0;
	border-width: 2px 2px 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
}
.tabs__caption li:not(.active) {
	cursor: pointer;
}


.tabs__caption li:not(.active):hover {
	background: #6678b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b6ca0), to(#2f468c));
	background: -moz-linear-gradient(top,  #5b6ca0,  #2f468c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b6ca0', endColorstr='#2f468c');
	border-color: #6678b1;
}
.tabs__caption .active {
	background: #FFF;
	color: #ff0;
	border-color: #6678b1;
}
.tabs__caption .active:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	height: 5px;
	background: #FFF;
}
.tabs__content {
	display: none;
	background: #FFF;
	border: 2px solid #6678b1;
	border-radius: 0 5px 5px 5px;
	padding:  0px;
}
.tabs__content.active {
	display: block;
}


table {
  table-layout:fixed; word-wrap:break-word;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 796px;
  width: 796px;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  text-align:center;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
border-bottom: 1px solid #6678b1;
  padding: 9px 8px;
  transition: .3s linear;
}


.mlogin {
    margin: 80px auto 0;
}

.mregister {
    margin: 80px auto 0;
}

.error {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 650px;
    background: #f58220;
}

.regtext {
    font-size: 13px;
    color: #777;
}

.admin_content{
	border: 2px solid #6678b1;
	border-radius: 5px;
	padding:  0px; 
        font-weight: bold;
}
.indexcontainer{
    padding: 10px 20px 20px 20px;
    margin: auto;
    overflow: hidden;
    width:1000px;
    height:auto;
    min-height: 430px;
    background: #fff;
}
.indexcontainer h1{
    color: #5b6ca0;
    text-align: center;
    font-weight: 500;
    border: 2px solid #6678b1;
    border-radius:5px;
    margin-top: 13px;
    margin-bottom:5px;
}


.editcontainer{
    padding: 10px 20px 20px 20px;
    margin: auto;
    overflow: hidden;
    width:1000px;
    height:auto;
    background: #fff;
}
.editcontainer h1{
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}
.editcontainer label {
    color: #777;
    font-size: 14px;
}
.editcontainer form .textarea{
    resize:none;
    margin: 0px;
    width: 994px;
    height: 238px;
    font-size: 14px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
}
.editcontainer form .textarea:focus{
    border: 1px solid #f58220;
    outline: none; /*for chrome*/
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

.editcontainer form .input {
    background: #fbfbfb;
    font-size: 14px;
    line-height: 1;
    width: 998px;
    outline: none;
    border: 1px solid #d9d9d9;
}

.editcontainer form .input:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

.accountbox{
    padding: 16px;
    font-weight: 400;
    overflow: hidden;
    width: 300px;
    height: auto;
    background: #fff;
    border:2px solid #6678b1;
    border-radius:5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.accountbox .input {
    background: #fbfbfb;
    font-size: 20px;
    line-height: 1;
    width:100%;
    margin:  auto ;
    outline: none;
    border: 1px solid #d9d9d9;
}
.accountbox label {
    color: #777;
    font-size: 14px;
}
.accountbox .input:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

/*= CONTAINERS
--------------------------------------------------------*/
.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 160px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
    margin-bottom: 5px;

}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .select {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 320px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .select:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

.container form .input {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 318px;
    margin: 10px 5px 10px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #f58220;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}
/*= MENU
--------------------------------------------------------*/
nav {
  width: 1000px;
  margin: auto;
  overflow:auto;
  background:#fff;
  padding:0 20px 0 20px;
  display: flex;
      align-items: center;
    align-content: center; 
    justify-content: center; 
  
}

nav a {
    text-decoration: none; 
  padding: 1em;
  border-right: 1px solid #5b6ca0;
  background: #5b6ca0;
  	background: -webkit-gradient(linear, left top, left bottom, from(#5e70a5), to(#474fbc));
	background: -moz-linear-gradient(top,  #5e70a5,  #474fbc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e70a5', endColorstr='#474fbc');
  color: #fff;
  display: block;
    
}
nav p {
    text-decoration: none; 
  padding: 1em;
  border-right: 1px solid #5b6ca0;
  background: #5b6ca0;
  	background: -webkit-gradient(linear, left top, left bottom, from(#5e70a5), to(#474fbc));
	background: -moz-linear-gradient(top,  #5e70a5,  #474fbc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e70a5', endColorstr='#474fbc');
  color: #ff4b16;
  display: block;
}

nav a:hover {
    background: #6678b1;
    background: -webkit-gradient(linear, left top, left bottom, from(#5b6ca0), to(#2f468c));
	background: -moz-linear-gradient(top,  #5b6ca0,  #2f468c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b6ca0', endColorstr='#2f468c');
}



/*= BUTTONS
--------------------------------------------------------*/

.button{
border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	color: #fff;
padding: 7px 12px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
float: right;
cursor: pointer;
}


.button:hover{
background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.button1{
border: solid 1px #245eaf;
	background: #6678b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#5e70a5), to(#474fbc));
	background: -moz-linear-gradient(top,  #5e70a5,  #474fbc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e70a5', endColorstr='#474fbc');
	color: #fff;
	height:40px;
    width:140px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
cursor: pointer;
}


.button1:hover{
background: #5b6ca0;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b6ca0), to(#2f468c));
	background: -moz-linear-gradient(top,  #5b6ca0,  #2f468c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b6ca0', endColorstr='#2f468c');
}

/*= FOOTER
--------------------------------------------------------*/
footer {
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}



/*= popup
--------------------------------------------------------*/
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
}
.popup {
	background-color: #fff;
	border: 3px solid #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 15px;
	position: fixed;
	text-align: justify;
	top: 40%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	border-radius: 11px;
}
.popup .close_window {
	font-size: 13px;
	display: block;
	width: 6px;
	height: 17px;
	position: absolute;
	padding: 1px 9px 4px 9px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: #fff;
	font-family: 'tahoma', sans-serif;
	background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
	background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
	background: -moz-linear-gradient(top, #3d51c8, #051fb8);
	background: -o-linear-gradient(top, #3d51c8, #051fb8);
	background: -ms-linear-gradient(top, #3d51c8, #051fb8);
	background: linear-gradient(top, #3d51c8, #051fb8);
	background-color: #3d51c8;
	border: 1px solid #061fb8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover {
	background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
	background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
	background: -moz-linear-gradient(top, #ff5f0, #3d51c87);
	background: -o-linear-gradient(top, #051fb8, #3d51c8);
	background: -ms-linear-gradient(top, #051fb8, #3d51c8);
	background: linear-gradient(top, #051fb8, #3d51c8);
	background-color: #051fb8;
	border: 1px solid #00385E;
}
.popup .close_window:active {
	background: #8f9be0;
}

/*=PAGINATION
-----------------------------------*/
.pagination {
  display: flex;

  padding-left: 15px;
  margin: 5px auto;
  
  overflow:auto;
  background:#fff;
  padding:0 20px 0 20px;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  

}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #FE980F;
  border-color: #FE980F;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}
.pagination li {
list-style-type: none; /* Убираем маркеры */
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#FE980F;
	color:#fff;
}
